{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div style="margin: 0 10% 0 10%">
    {{ form_start(form) }}
        {{ form_row(form.titre, {'attr' : {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(form.courte_description, {'attr' : {'placeholder': "Petite description de l'article"}}) }}
        {{ form_row(form.description, {'attr' : {'placeholder': "Votre article"}}) }}
        {{ form_row(form.categorie, {'attr' : {'placeholder': "Catégorie"}}) }}
        <button type="submit" class="btn">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Créer l'article
            {% endif %}
        </button>
        {% if editMode %}
            <button><a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer l'article</a></button>
        {% endif %}
        
    {{ form_end(form) }}
</div>
