{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div style="margin: 0 10% 0 10%">
    {{ form_start(form) }}
        {{ form_row(form.titre, {'attr' : {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(form.courte_description, {'attr' : {'placeholder': "Petite description de l'article"}}) }}
        {{ form_row(form.description, {'label': 'Article', 'attr' : {'placeholder': "Votre article"}}) }}
        {{ form_row(form.categorie, {'attr' : {'placeholder': "Catégorie"}}) }}
        <center>
            <button type="submit" class="btn">
                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Créer l'article
                {% endif %}
            </button>
        </center>
    {{ form_end(form) }}
</div>
