{% extends 'base.html.twig' %}

{% block title %}Blog - Maxence Zolnieruck{% endblock %}

{% block body %}

  {{ include('base.html.twig') }}

  <!-- Main Content -->
  <div class="container">
    <hr>
    {% for article in articles %}
        <div class="post-preview">
          <a href="{{ path('article_show', {'id': article.id}) }}">
            <h2 class="post-title">
              {{ article.titre }}
            </h2>
            <h3 class="post-subtitle">
              {{ article.courteDescription }}
            </h3>
          </a>
          <p class="post-meta">Posté par
            <a href="#">{{ article.auteur }}</a>
            le {{ article.date ? article.date|date('Y-m-d H:i:s') : '' }} 
             dans {{ article.categorie ? article.categorie.getNom() : ''}}.</p>
        </div>
        <hr>
      {% else %}
      <div class="post-preview">
        <p>Aucun article trouvé</p>
      </div>
    {% endfor %}
      </div>
    </div>
  </div>

  <hr>

  {{ include('footer.html.twig') }}

    {% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/clean-blog.min.js') }}"></script>
    {% endblock %}

{% endblock %}
