{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

  {% block body %}
    <title>Blog - {{ article.titre }}</title>
    {% block stylesheet %}
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/clean-blog.min.css') }}" rel="stylesheet">

    {% endblock %}

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="{{ path('article_index') }}">Mon super Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_index') }}">Accueil</a>
            </li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('article_new') }}">Poster un article</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
              </li>
            {% endif %}

            </ul>
        </div>
        </div>
    </nav>

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.titre }}</h1>
            <h2 class="subheading">{{ article.courteDescription }}</h2>
            <span class="meta">Posté par
              <a href="#">{{ article.auteur }}</a>
              le {{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}
              dans {{ article.categorie ? article.categorie.getNom() : ''}}.
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ article.description }}</p>
        </div>
      </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <center><button class="btn"><a href="{{ path('article_edit', {id : article.id}) }}">Modifier</a></button></center>
    {% endif %}
  </article>

  <hr>

  {{ include('footer.html.twig') }}

{% endblock %}
